<div class="row">
    <div class="col s4">
      <div class="card profile-card">
        <div class="card-content black-text">
          <span class="card-title">[insert username here]</span>
          <p>[isnert bio here]</p>
        </div>
        <div class="card-action">
          Moods: 0 Following: 0 Followers: 0
        </div>
      </div>
    </div>
    <div class="col s8">
          <label for="first_name">How do you feel?</label>
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
      <ul class="collection">
      <li class="collection-item">Alvin</li>
      <li class="collection-item">Alvin</li>
      <li class="collection-item">Alvin</li>
    </ul>
    </div>
  </div>
