// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#posts {
  width: 400px;
}

#new-post, #show-post {
  height: 500px;
}

#addComment {
  cursor: pointer;
}

#comment-box {
  display: none;
  line-height: 1.5;

}
#comments {

  height: 50px;
  width: 100%;
  background-color: white;
  color: black;
  line-height: 1.5;
  padding: 10px;
}
